@use 'global' as *;
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");
.blog {
    background-color: white;
    max-width: unset;
    padding: 5% 10%;
    .title {
        @extend %base-title;
        
    }

    .process-list{
        margin-top: 40px;
        margin-left: 36px;
    }

    .process {
        margin-bottom: 25px;
        & > div {
            & > h3 {
                color: $dark-green-litle;
                margin-bottom: 0;
                font-size: 30px;
                font-weight: 500px;
            }
            & > p {
                color: $dark-green-text;
                margin: 0;
            }
        }
        .process-icon {
            width: 60px;
            height: 60px;
            margin-right: 10px;
            text-align: center;

            img {
                height: 100%;
            }
        }
    }
}

button {
    height: auto;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
}

.tray {
    background-color: $ligt-green2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .trayinput {
        height: 50px;
        padding-left: 10px;
        border-radius: 5px;
        border-color: $light-gray;
        
    }

    .traybutton {
        margin-left: -5px;
    }

    p {
        color: $white;
        font-size: 14px;
    }

    h2 {
        @extend %base-title;
        font-size: 60px;
        font-weight: 500;
    }
}

.cta {
    .box {
        background-color: $dark-green-litle;
        color: $white;
        padding: 5%;
        border-radius: 10px;
        margin-top: 30px;

        h2 {
            font-family: $font-title;
            font-size: 34px;
            max-width: 340px;
            line-height: 1.3;
        }

        p {
            color: $white;
            font-size: 15px;
            a {
                color: $ligt-green;
            }
        }

        
    }
}

.signup-form {
    height: 55px;
    input, button {
        height: 100%;
        border-radius: 5px;
    }
    input {
        border: 1px solid #b6b6b6;
        padding: 6px 20px;
        width: 60%;
        max-width: 250px;
    }
    button {
        background-color: $ligt-green;
        color: #fff;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 6px 20px;
        margin-left: -10px;
      }
}