body {
    background-color: #fffbf7;
}

h1{
    color: #025157;
    text-align: center;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;

}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

li{
    display: inline;
    margin: 0 25px 0;
}

.header >*{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.navbar{
    /* width: 70%; */
    text-align: center;
    color: #025157;
    font-weight: 500;
    
    
}

.actions{
    /* width: 15%; */
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions >* {
    margin: 0 10px;
}

.actions a{
    color: #67b54b;
}

.actions button {
    color: #ffffff;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.logo > img {
    width: 15%;
}

.main {
    margin-top: 140px;
    text-align: center;
}

.main img {
    max-height: 200px;
}
.publish{
    margin-left: 30px;
}

.publish h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #025157;
    font-size: 40px;
    line-height: 48px;
}

.publish >p {
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish form {
    display: flex;
}

.publish > form p {
    color: #025157;
    margin-right: 18px;
}

.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 3;

}

.success-stories{
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.success-stories .overview {
    flex: 2;
    padding-right: 100px;
}

.success-stories .overview h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
    
}

.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
  }

  .success-stories .overview img {
    width: 500px;
    max-width: 100%;
  }
  
.success-stories .stories-carousel{
    flex: 1;
    max-width: 370px;
    width: 100%;
    /* background-color: #fff; */
    border-radius: 10px;
}

.success-stories .stories-carousel .card-media img{
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

.success-stories .stories-carousel .card-media figure{
    margin-top: 0;
    
}

.success-stories .stories-carousel .card-media {
    position: relative;
  }

  .success-stories .stories-carousel .card-media .company {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .success-stories .stories-carousel .card-media .company img {
    max-width: 75%;
  }

  .success-stories .stories-carousel .card-body,
.success-stories .stories-carousel .card-footer {
  padding: 25px;
}

.success-stories .stories-carousel .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}

.success-stories .stories-carousel .card-body .results {
    display: flex;
    align-items: center;
    color: #828282 ;
}

.success-stories .stories-carousel .card-body .results img {
    width: 40px;
    margin-right:  20px;
}

.success-stories .stories-carousel .card-body .results p{
    margin-top: 0;
}

.success-stories .stories-carousel .card-footer {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
} 

.success-stories .stories-carousel .card-footer button{
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
 
}

.features {
    display: grid;
   /* grid-template-columns: 1fr 1fr; */
    height: 660px;
   /* grid-template-rows: 1fr 1fr; */
    grid-template: repeat(2, 1fr) / repeat(2,1fr) ;
    background-color: #025157;
    padding: 5% 10%;
  }

.features .feature-card{
    background-color: #fff;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden; 
    
}

.features .feature-card .feature-content{
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.features .feature-card .feature-content >*{
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content img{
    width: 50px;
}

.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }

  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }

  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }

  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -40px;
    height: 80%;
    
  }

  .features .feature-card .feature-image figure{
    margin-top: 0;
    height: 100%;
  }
  
  .features .feature-card .feature-image img {
    margin-top: 0;
     height: 100%;
  }

/* .como-funciona{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px,auto);
    
  }

 .como-funciona .leyenda {
    grid-column: 1 /5;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
} */

.como-funciona{
    text-align: center;
    padding: 5% 10%;
}
.como-funciona .titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: #025157;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 8px;
}

.como-funciona .descripcion {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #7e7e7e;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.como-funciona button {
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    border-radius: 8px;
    padding: 10px;

}

.como-funciona .carteles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-top: 50px;

}

.como-funciona .carteles .carteles1 {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;

}



.como-funciona .carteles .carteles1 .carteles1-imagenes {
    display: flex;
    flex-direction: row-reverse;

}

.como-funciona .carteles .carteles1 .icon {
    height: 80px;
}

.como-funciona .carteles .carteles1 .bg {
    max-height: 400px;
}

.como-funciona .carteles .carteles1 .carteles1-body h3{
    font-size: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #025157;
    
}

.como-funciona .carteles .carteles1 .carteles1-body p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
    padding: 0 10px;
}

.como-funciona .carteles .carteles1 .carteles1-body a {
    color: #67b54b;
}

/* @media (max-width:575px){
    body{
        background-color: yellow;
    }
} */

.success-stories {
    background-color: #A1D683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .success-stories .overview {
    flex: 2;
    padding-right: 100px;
  }
  .success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
  }
  .success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
  }
  .success-stories .overview img {
    width: 500px;
    max-width: 100%;
  }

  .success-stories .card {
    max-width: 370px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
  }
  
  /* Con object-fit, hacemos que la imagen se ajuste a la medida de su contenedor y limitamos su alto */
  .success-stories .card img {
    max-height: 30vh;
    object-fit: cover;
  }
  
  /* Agregamos position: relative para recibir un elemento con position:absolute más adelante */
  .success-stories .card .card-body {
    max-width: 370px;
    width: 100%;
    position: relative;
    padding: 40px 1rem 1rem;
  }
  
  /* Estos son los estilos para textos y acomodo de elementos */
  .success-stories .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Slabo 27px", serif;
  }
  
  .success-stories .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  .success-stories .card .card-body .results {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .success-stories .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
  }
  
  .success-stories .card .card-body .results p {
    margin: 0;
  }
  
  .success-stories .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
    border: none;
  }
  
  .success-stories .card .card-footer {
    background-color: #ffffff;
    color: #fff;
    border: none;
  }
  
  /* Aqui hacemos un círculo con CSS! Este se posicionará en el margen superior de .card-body */
  .success-stories .card .card-body .card-circle {
    display: flex;
    align-items: center;
    position: absolute;
    top:-45px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
  }
  
  /* Cada círculo tiene su propio color. Verifica qué significa este selector: .card-circle.everly */
  .success-stories .card .card-body .card-circle.everly {
    background-color: #f9da73;
    border: 5px solid #f9da73;
  }
  
  /* Los círculos deben recibir la imagen y ajustarla al tamaño */
  .success-stories .card .card-body .card-circle.everly img {
    object-fit: contain;
    width: 100%;
  }



@media (max-width:575px) {
   /*  .navbar,
    .actions {
        display: none;
    } */
    .main h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 100px;
    }

    .banner > img {
        width: 100%;
    }

    .promo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .promo .explanatory-video img {
        width: 10%;
    }

    .promo .publish  {
        margin-left: 0;
        
    }

    .promo .publish h3 {
        font-size: 35px;
    }

    .promo .publish p {
        font-size: 20px;
    }

    .promo .publish form{
        display: flex;
        flex-direction: column;
        
    }

   .promo .publish .forma-correo .correo {
        height: 70px;
      
   }

   .promo .publish .forma-correo .correo input {
        height: 50px;
        width: 60%;
        border-radius: 5%;

   }

   .promo .publish .forma-correo .correo button {
    height: 60px;
    width: 30%;
    padding-left: 0;
    border-radius: 5%;
   }

   .features{
    grid-template: repeat(4, 1fr) / repeat(1,1fr) ;
    height: auto;
   }

   .feature-image {
    display: none;
   }
}
